.aside {
  padding: 1rem 0;
  @include position($position: fixed, $top: 0, $left: -100%);
  height: 100%;
  width: 50%;
  z-index: 9999;
  transition: all 0.3s;
  background: $black-linear-gradient;
  border-right: 1px solid $lightGrey;
  text-align: center;

  .logo{
    letter-spacing: -.5px;
    color: $primary;
    font-weight: 700;
    font-size: 120%;
  }

  @media #{$md-xl} {
    position: static;
    width: auto;
    grid-row: 1/3;
  }

  &__nav {
    height: 100%;
    padding-top: 6rem;

    ul {
      @include flex($direction: column, $align: center, $gap: .8rem);  
      li a{
        font-weight: 300;
        color:$grey;
        transition: all 0.4s;
       
        &:hover{
          color: white;
          transform: scale(1.1);
        }
      }
    }
    
    .menu-icon {
      @include position($position: fixed, $left: 1%, $top: 2%);
      z-index: 9999;
      cursor: pointer;
      @media #{$md-xl} {display: none;}
    }
    #plus{color: $primary; font-weight: 600;}
  }
}
    
.aside-active {left: 0;}