.header {
  background: $band-background;
  width: 100%;
  background-size: cover;
  height: 40vh;
  position: relative;

  @media #{$sm} { height: 50vh;}

  &__title {
    @include position($position: absolute, $left: 10%, $bottom: 10%);
    h1 {
      text-shadow: 4px 4px #0c1530;
      font-size: 340%;
    }
  }
  .bg{
    @include position($position: absolute, $left: 0, $top: 0);
    width: 100%;
    height: 100%;
    background: linear-gradient(190deg,#0078a770, #b6000f11, #00000000);
  }
}